/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

header .header {
  display: flex;
}

header .header .title {
  margin-left: 240px;
  margin-top: 64px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4E5150;
}

main .main-content {
  margin-top: 50px;
  margin-left: 240px;
  margin-bottom: 160px;
  display: flex;
}

main .main-content .form h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

main .main-content .form .shipping-address {
  margin-top: 60px;
}

main .main-content .form .field {
  margin-top: 20px;
  display: grid;
}

main .main-content .form .field-save {
  margin-top: 20px;
  display: flex;
}

main .main-content .form .field-save input {
  margin-right: 10px;
}

main .main-content .form .field label,
main .main-content .form .field-save label {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4F4F4F;
  margin-bottom: 6px;
}

main .main-content .form .field input,
main .main-content .form .field select {
  width: 465px;
  padding: 18px 14px;
  border: 1px solid #828282;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}

main .main-content .address-complement {
  display: flex;
  justify-content: space-between;
}

main .main-content .address-complement .field input,
main .main-content .address-complement .field select {
  width: 217px;
}

main .main-content .form .validation-form {
  display: flex;
  margin-top: 23px;
}

main .main-content .form .validation-form button {
  margin-left: auto;
  background: #F2994A;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  padding: 17px 45px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
}

main .main-content .shopping-basket {
  background-color: #F2F2F2;
  border-radius: 12px;
  padding: 30px;
  margin-left: 110px;
  height: max-content;
}


main .main-content .shopping-basket .element {
  display: flex;
  margin-bottom: 30px;
}

main .main-content .shopping-basket .element img {
  width: 134px;
  height: 136px;
  border-radius: 13px;
}

main .main-content .shopping-basket .element .information-element {
  margin-left: 20px;
}

main .main-content .shopping-basket .element .information-element h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4E5150;
}

main .main-content .shopping-basket .element .information-element .prices {
  margin-top: 6px;
  margin-bottom: 25px;
  display: flex;
}

main .main-content .shopping-basket .element .information-element .prices .final-price {
  margin-right: 5px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #F2994A;
}

main .main-content .shopping-basket .element .information-element .prices .price {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: line-through;
  color: #4E5150;
}

main .main-content .shopping-basket .element .information-element .quantity-element {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  padding: 13px 15px;
}

main .main-content .shopping-basket .element .information-element .quantity-element button {
  background-color: #E0E0E0;
  border: 0;
  border-radius: 4px;
  display: inline-flex;
  margin: auto;
}

main .main-content .shopping-basket .element .information-element .quantity-element input {
  border: none;
  background-color: #F2F2F2;
  text-align: center;
  padding: 0;
  width: 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

main .main-content input::-webkit-outer-spin-button,
main .main-content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
main .main-content  input[type=number] {
  -moz-appearance: textfield;
}

main .main-content .shopping-basket .basket-prices {
  margin-top: 50px;
}

main .main-content .shopping-basket .basket-prices .prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #BDBDBD;
}

main .main-content .shopping-basket .basket-prices .prices .title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

main .main-content .shopping-basket .basket-prices .prices .price {
  font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
text-align: right;
color: #333333;
}

footer {
  display: flex;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9;
  margin: auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 990px) {

  header .header .title {
    margin-left: 18px;
    margin-top: 32px;
    font-size: 24px;
    line-height: 29px;
  }

  main .main-content {
    flex-direction: column-reverse;
    margin-left: 18px;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 90%;
  }

  main .main-content .shopping-basket {
    margin-left: 0px;
    padding: 20px;
  }

  main .main-content .shopping-basket .element img {
    width: 122px;
    height: 124px;
    border-radius: 13px;
  }

  main .main-content .shopping-basket .element .information-element h3 {
    font-size: 16px;
    line-height: 20px;
  }

  main .main-content .shopping-basket .element .information-element .prices .final-price {
    font-size: 12px;
    line-height: 15px;
  }

  main .main-content .shopping-basket .element .information-element .prices .price {
    font-size: 12px;
    line-height: 15px;
  }

  main .main-content .shopping-basket .basket-prices .prices .title {
    font-size: 14px;
    line-height: 17px;
  }

  main .main-content .form {
    margin-top: 39px;
  }

  main .main-content .form h2 {
    font-size: 14px;
    line-height: 17px;
  }

  main .main-content .form .field {
    margin-top: 16px;
  }

  main .main-content .form .field label,
  main .main-content .form .field-save label {
    font-size: 10px;
    line-height: 12px;
  }

  main .main-content .form .field input,
  main .main-content .form .field select {
    width: auto;
    font-size: 12px;
    line-height: 15px;
    padding: 13px 11px;
    padding-right: 0;
    padding-left: 0;
  }

  main .main-content .form .field input::placeholder {
    padding-left: 10px;
  }

  main .main-content .form .shipping-address {
    margin-top: 45px;
  }

  main .main-content .address-complement .field input,
  main .main-content .address-complement .field select {
    width: 162px;
  }

  footer p {
    margin-bottom: 20px;
  }
}
